extends layouts/layout

block vars
    -title = "Home page"
    -const bannerRight = [{icon: 'fas fa-plane', title: 'Miễn phí vận chuyển', text: 'Chúng tôi vận chuyển miễn phí với các đơn hàng trị giá trên 1.000.000 Đ'}, {icon: 'fas fa-sync-alt', title: 'Chính sách đổi trả', text: 'Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên.'}, {icon: 'fas fa-gift', title: 'Khuyến mại hàng tuần', text: 'Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mại lớn.'}, {icon: 'fas fa-thumbs-up', title: 'Cam kết hàng chính hãng', text: 'Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẩm.'}]
    -const sidebarItems = ['Máy in phun khổ lớn', 'Máy quét Canon 3D', 'Máy hàn điện Alunima', 'Máy khoan Decameta', 'Máy phay đa năng CNC', 'Máy mài, tiện DC 12V', 'Máy khoan, cắt CNC', 'Máy quay thông minh N3', 'Motor R34C đa dụng', 'Máy in laser màu 3D'];
    -const featuredProImgSrc = 'assets/images/products/featured-products/';
    -const featuredProInfo = ['product1.png', 'product2.png', 'product3.png', 'product4.png', 'product5.png', 'product6.png'];
    -const productDirectType = ['Máy khoan', 'Máy in 3D', 'Máy CNC', 'Máy tiện', 'Máy khác'];
    -const newProImgSrc = 'assets/images/products/new-products/';
    -const newProInfo = ['product1.png', 'product2.png', 'product3.png'];
    -const bestSellProImgSrc = 'assets/images/products/best-sell-products/';
    -const newImportProImgSrc = 'assets/images/products/new-import-products/';
    -const newImportProImg = ['product1.png', 'product2.png', 'product3.png', 'product4.png'];
    -const customerImgSrc = 'assets/images/customers/';
    -const customerImgs = ['infinite.png', 'artworker.png', 'media.png', 'tech.png', 'mamolog.png'];

block container
    section.banner 
        .container
            .col-md-12
                .row 
                    .col-md-8.banner__slides
                        #bannerCarousel.carousel.slide(data-ride="carousel")
                            ul.carousel-indicators
                                li.active.banner__indicator(data-target="#bannerCarousel" data-slide-to="0")
                                each i in [1, 2]
                                    li.banner__indicator(data-target="#bannerCarousel" data-slide-to=i)
                            .carousel-inner
                                .carousel-item.banner__item.active
                                    .row 
                                        .col-md-7.col-7.banner__content
                                            h3 Máy khoan đa năng
                                            h2 Dewalt
                                            p.banner__text
                                                i.banner__icon.far.fa-check-circle 
                                                | Thiết kế nhỏ gọn, phù hợp, đa mục đích    
                                            p.banner__text
                                                i.banner__icon.far.fa-check-circle 
                                                | Mạnh mẽ, bề bỉ và hiệu suất lớn hơn
                                            p.banner__text
                                                i.banner__icon.far.fa-check-circle 
                                                | Khoan cắt với độ chính xác tuyệt đối
                                            button.banner__btn Đặt hàng
                                        .col-md-5.col-5.banner__img    
                                            img(src="assets/images/slides/SLIDER.jpg", alt="slider image")
                                each i in [1, 2]
                                    .carousel-item.banner__item
                                        .row 
                                            .col-md-7.col-7.banner__content
                                                h3 Máy khoan đa năng
                                                h2 Dewalt
                                                p.banner__text
                                                    i.banner__icon.far.fa-check-circle 
                                                    | Thiết kế nhỏ gọn, phù hợp, đa mục đích    
                                                p.banner__text
                                                    i.banner__icon.far.fa-check-circle 
                                                    | Mạnh mẽ, bề bỉ và hiệu suất lớn hơn
                                                p.banner__text
                                                    i.banner__icon.far.fa-check-circle 
                                                    | Khoan cắt với độ chính xác tuyệt đối
                                                button.banner__btn Đặt hàng
                                            .col-md-5.col-5.banner__img    
                                                img(src="assets/images/slides/SLIDER.jpg", alt="slider image")
                    .col-md-4.banner__right
                        each item in bannerRight
                            .banner__right-item 
                                .row
                                    .col-md-3.col-3.banner__right-icon
                                        i(class= item.icon)
                                    .col-md-9.col-9.banner__right-content
                                        h4.banner__right-title= item.title
                                        p.banner__right-text= item.text             
    section.featured-products 
        .container
            .col-md-12
                .products__header 
                    h4.products__heading 
                        i.fas.fa-th-large.window-icon-yl
                        | Sản phẩm nổi bật
                    .product-direction 
                        button.product-direction__btn 
                            i.fas.fa-caret-left
                        button.product-direction__btn 
                            i.fas.fa-caret-right
                .row 
                    .col-md-3.product-sidebar
                        a.product-sidebar__link.product-sidebar__link--st(href="#")
                            i.fas.fa-th-large.window-icon-gr
                            |Máy khoan , cắt CNC
                        label.product-sidebar__op(for="productSidebarOp") 
                            i.fas.fa-chevron-down
                        input#productSidebarOp(type="checkbox" hidden)
                        ul.product-sidebar__list 
                            each item in sidebarItems
                                +productSidebarItem(item)
                    .col-md-9.featured-products__list 
                        .row 
                            each item in featuredProInfo
                                .col-md-4
                                    +productItemBox(featuredProImgSrc+item)
    section.new-products
        .container 
            .col-md-12 
                .products__header 
                    h4.products__heading
                        i.fas.fa-th-large.window-icon-yl
                        | Sản phẩm mới
                    .product-direction 
                        .product-direction__type
                            each productType in productDirectType
                                button.product-direction__type-btn= productType
                        button.product-direction__btn 
                            i.fas.fa-caret-left
                        button.product-direction__btn 
                            i.fas.fa-caret-right   
                .new-products__list 
                    .row 
                        each item in newProInfo
                            .col-md-4
                                +productItemBox(newProImgSrc+item)
    section.advertisement
        .container 
            .col-md-12 
                    .row
                        .col-md-6
                            .advertisement__banner 
                                .row
                                    .col-md-6.col-6
                                        .advertisement__info 
                                            h2.advertisement__name Demishi
                                            p.advertisement__type Máy hàn xì chuyên nghiệp
                                            h3.advertisement__price 2.250.000 Đ
                                            p.advertisement__text Cơ hội trúng ngay tivi samsung lcd trị giá 
                                                strong 2.700.000 Đ
                                    .col-md-6.col-6.advertisement__img
                                        img(src="assets/images/advertisement/adv1.jpg", alt="advertisement image")
                                        .advertisement__sale 
                                            .advertisement__sale-box 
                                                p Giảm 
                                                strong 12%
                        .col-md-6
                            .advertisement__banner 
                                .row
                                    .col-md-6.col-6
                                        .advertisement__info 
                                            h2.advertisement__name Makita
                                            p.advertisement__type Máy khoan - cắt đa năng
                                            h3.advertisement__price 7.450.000 Đ
                                            p.advertisement__text Tặng ngay 1 bộ phụ kiện cao cấp trị giá 
                                                strong 600.000 Đ
                                    .col-md-6.col-6.advertisement__img
                                        img(src="assets/images/advertisement/adv2.jpg", alt="advertisement image")
                                        .advertisement__sale 
                                            .advertisement__sale-box 
                                                p Sale 
                                                strong 30%
    section.best-sell-products
        .container 
            .col-md-12 
                .products__header 
                    h4.products__heading
                        i.fas.fa-th-large.window-icon-yl
                        | Sản phẩm bán chạy
                    .product-direction 
                        .product-direction__type
                            each productType in productDirectType
                                button.product-direction__type-btn= productType
                        button.product-direction__btn 
                            i.fas.fa-caret-left
                        button.product-direction__btn 
                            i.fas.fa-caret-right
                .best-sell-products__list 
                    .row 
                        .col-md-3.best-sell-products__side
                            +productItemBox(bestSellProImgSrc + 'product-side1.png')
                            +productBestSellingBtItem(bestSellProImgSrc + 'product-side2.png')
                        .col-md-6.best-sell-products__mid
                            .products__item.best-sell-products__mid--item.text-center
                                .products__box 
                                    img.products__img(src="assets/images/products/best-sell-products/product-mid.png", alt="best selling product")
                                    p.products__price.best-sell__price 1.550.000 Đ
                                    h4.products__name.best-sell__name Máy khoan Black Decker 
                                    span.products__rate 
                                        each i in [1, 2, 3, 4]
                                            i.fas.fa-star
                                        i.far.fa-star
                                    i.products__rate-num (12 Đánh giá)
                                    .products__btns 
                                        button.products__btn--buy Mua ngay 
                                        button.products__btn--see-details Xem chi tiết
                        .col-md-3.best-sell-products__side 
                            +productItemBox(bestSellProImgSrc + 'product-side3.png')
                            +productBestSellingBtItem(bestSellProImgSrc + 'product-side4.png')
    section.advertisement-nd
        .container 
            .col-md-12 
                .advertisement-nd__box
                    .row
                        .col-md-6 
                            .advertisement-nd__img
                                .row 
                                    .col-md-6.col-6.advertisement-nd__img--lt
                                        img(src="assets/images/advertisement/banner-1.png", alt="advertisement second")
                                    .col-md-6.col-6.advertisement-nd__img--rt
                                        img(src="assets/images/advertisement/banner-2.png", alt="advertisement second")
                        .col-md-6 
                            .advertisement-nd__content.text-center 
                                h2.advertisement-nd__name Rocket wokaru
                                p.advertisement-nd__text Máy cắt, khoan đa năng tích hợp điều khiển từ xa loại nhỏ thích hợp với các hộ gia đình
                                .advertisement-nd__btns 
                                    button.advertisement-nd__buy Mua ngay 
                                    button.advertisement-nd__details Chi tiết
    section.new-import-products
        .container 
            .col-md-12 
                .products__header 
                    h4.products__heading
                        i.fas.fa-th-large.window-icon-yl
                        | Hàng mới về
                    .product-direction 
                        button.product-direction__btn 
                            i.fas.fa-caret-left
                        button.product-direction__btn 
                            i.fas.fa-caret-right
                .new-import-products__list 
                    .row 
                        each image in newImportProImg
                            .col-md-6.new-import-products__item
                                +productListFormat(newImportProImgSrc+image)
    section.customer
        .col-md-12
            .row
                .customer__direction.col-1 
                    a.customer__direction-link(href="#")
                        i.fas.fa-chevron-left
                .customer__list.col-10
                        each item in customerImgs
                            a.customer__link(href="#") 
                                img.customer__img(src=customerImgSrc+item, alt="customer")
                .customer__direction.col-1
                    a.customer__direction-link(href="#")
                        i.fas.fa-chevron-right
    section.register-receive-news
        .container 
            .col-md-12.text-center 
                p.register-receive-news__text.text-white Đăng kí để nhận tin tức khuyến mại hàng tuần
                form.register-receive-news__form
                    input.register-receive-news__input(type="text", placeholder="Nhập email của bạn")
                    button.register-receive-news__btn Đăng kí 
